# Ignorar archivos de objeto y bibliotecas generados por la compilación
*.o
*.a
*.so

# Ignorar archivos ejecutables
*

# Ignorar archivos de respaldo generados por editores de texto
*~

# Ignorar archivos de caché y archivos de configuración
.cache/
.config

# Ignorar directorios de construcción generados
build/
dist/

